h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h2 {
}
h3 {
}
p {
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.div-header {
  width: 1440px;
  margin: 0 auto;
}
.div-first {
  display: flex;
  justify-content: end;
  height: 40px;
  background: #939878;
  padding-right: 40px;
}
.p-div-first {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin-right: 563px;
}

.btn-close {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon-close-header {
  fill: #ffffff;
  stroke: #fff;
}

.div-nav {
  display: flex;
  height: 74px;
  padding-left: 80px;
  padding-right: 80px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 401px;
}

.nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ul-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-nav {
  display: flex;
  align-items: center;
}

.a-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.span-down {
  color: #222;
  font-family: "Material Icons";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  vertical-align: middle;
}
.span-search {
  color: #2a2c1f;
  font-family: "Material Icons";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  vertical-align: middle;
}

.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 42px;
  padding: 9px 21px 9px 21px;
  margin-right: 16px;
  margin-left: 24px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
}

.span-bag {
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-right: 4px;
  vertical-align: middle;
}
.btn-find {
  width: 159px;
  height: 42px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  cursor: pointer;
}

/* hero */
.hero-sec {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.hero {
  display: inline-flex;
}
.div-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 720px;
  height: 686px;
  padding: 160px 80px;
  background-color: #f3f3f2;
  position: relative;
  overflow: hidden;
}
.hero-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 29px;
  border-radius: 32px;
  background-color: #e7e8e3;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.hero-h2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px; /* 120% */
}
.hero-p1 {
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.icon-hero-up {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-27%, 0); /* Для вирівнювання по центру */
  z-index: 1; /* Забезпечує накладання над іншими елементами */
}

.icon-hero-down {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 0); /* Зміщення для кращого вирівнювання */
  z-index: 1; /* Забезпечує правильний порядок накладання */
}

.div-hero-search {
  display: inline-flex;
  gap: 16px;
}

.label-search {
  display: flex;
  align-items: center;
  position: relative;
}
.icon-search {
  position: absolute;
  left: 16px;
  margin-right: 16px;
}
.input-search {
  padding-left: 56px;
  width: 310px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.hero-btn-search {
  width: 154px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  cursor: pointer;
}
.div-hero-img {
  width: 720px;
  height: 686px;
  background: url(../images/hero.jpg) lightgrey center / cover no-repeat;
}
@media only screen and (min-resolution: 192dpi),
  only screen and (min-device-pixel-ratio: 2) {
  .div-hero-img {
    background: url(../images/hero@2x.jpg) lightgrey center / cover no-repeat;
  }
}

/* logoipson */
.logoipson-sec {
  padding-top: 67px;
}

.div-logoipson {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.div-icon {
  display: inline-flex;
  gap: 32px;
}
.h2-logoipson {
  width: 243px;
  height: 44px;
  margin-right: 309px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.icon-logoipson {
  .icon-logoipson {
    display: inline-block; /* Переконайтеся, що іконки відображаються */
    width: 120px;
    height: 28px;
    fill: currentColor; /* Забезпечує використання кольору шрифту або визначеного кольору */
  }
}
/* .how-it-work */
.how-it-work {
  padding: 128px 0;
}

.how-h2 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.how-p {
  margin: 0 auto;
  width: 754px;
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

.how-ul {
  display: flex;
  gap: 32px;
  margin-top: 64px;
}
.how-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 47px;
  height: 291px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: calc((100% - 64px) / 3);
}
.div-how-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fae8e1;
  margin-bottom: 24px;
}
.how-span {
  color: #cf6f49;
  text-align: center;
  font-family: "Material Icons";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
}
.how-h3 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
}
.how-card-p {
  margin-bottom: 17px;
  width: 338px;
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/*the-best*/
.div-the-best {
  display: flex;
  width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.div-best-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
}
.best-p-first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 29px;
  margin-bottom: 20px;
  border-radius: 32px;
  background: #e7e8e3;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.best-h2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  margin-bottom: 28px;
}
.best-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 21px;
}
.div-best-btn {
  display: flex;
  gap: 24px;
  align-items: center;
}
.best-btn {
  width: 192px;
  height: 50px;
  padding: 13px 25px 13px 25px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
}
.best-link {
  text-decoration: none;
  display: flex;
  width: 130px;
  height: 40px;
  padding: 7.594px 0px 8.406px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.best-span-a {
  width: 16px;
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.div-best-img {
  width: 600px;
  height: 600px;
  border-radius: 16px;
  background: url(../images/best.jpg) lightgrey center / cover no-repeat;
}
@media only screen and (min-resolution: 192dpi),
  only screen and (min-device-pixel-ratio: 2) {
  .div-best-img {
    background: url(../images/best@2.jpg) lightgrey center / cover no-repeat;
  }
}

/*fast forward*/
.fast-forward {
  padding: 128px 0;
}
.div-forward {
  display: flex;
  width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.div-forward-img {
  width: 600px;
  height: 600px;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  background: url(../images/forward.jpg) lightgrey center / cover no-repeat;
}
@media only screen and (min-resolution: 192dpi),
  only screen and (min-device-pixel-ratio: 2) {
  .div-forward-img {
    background: url(../images/forward@2.jpg) lightgrey center / cover no-repeat;
  }
}
.div-forward-text {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.forward-p-first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 29px;
  border-radius: 32px;
  background: #e7e8e3;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin-bottom: 21px;
}

.forward-h2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  margin-bottom: 29px;
}
.forward-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 29px;
}
.forward-ul {
  display: flex;
  gap: 24px;
  margin-bottom: 25px;
}
.forward-li {
  width: calc((100% - 24px) / 2);
}

.div-forward-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #fae8e1;
  margin-bottom: 16px;
}
.forward-span {
  color: #cf6f49;
  font-family: "Material Icons";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
}
.forward-h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  margin-bottom: 18px;
}
.forward-card-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.div-forward-btn {
  display: flex;
  gap: 24px;
  align-items: center;
}
.forward-btn {
  width: 192px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
}
.forward-a {
  display: flex;
  width: 130px;
  height: 40px;
  padding: 8.094px 0px 7.906px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration: none;
  cursor: pointer;
}
.forward-span-a {
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
/*houses*/
.houses {
}
.container {
}
.houses-cont {
  position: relative;
  overflow: hidden;
  background: #f5f5f2;
  display: flex;
  flex-direction: column;
  padding-top: 132px;
  padding-bottom: 160px;
}
.div-houses {
}
.div-houses-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.houses-p-first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 29px;
  border-radius: 32px;
  background: #e7e8e3;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin-bottom: 21px;
}
.houses-h2 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.houses-ul {
  column-gap: 32px;
  row-gap: 32px;
  display: flex;
  flex-wrap: wrap;
}
.houses-li {
  box-sizing: border-box;
  width: calc((100% - 64px) / 3);
}
.div-houses-li-text {
  display: flex;
  width: 100%;
  height: 192px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  border-top: none;
}
.houses-img {
  width: 100%;
  display: block;
}
.houses-h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
}
.houses-li-p-price {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}
.houses-li-p {
  margin-top: 16px;
}
.houses-li-span {
  color: #65665c;
  font-family: "Material Icons";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-right: 10px;
}
.div-houses-btn {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.houses-btn {
  width: 192px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.houses-a {
  display: flex;
  width: 130px;
  height: 40px;
  padding: 8.141px 0px 7.859px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.houses-span-a {
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.icon-houses-up {
  position: absolute;
  top: -6px;
  left: 0;
  transform: translate(966%, 0); /* Для вирівнювання по центру */
  z-index: 1; /* Забезпечує накладання над іншими елементами */
}
.icon-houses-down {
  width: 135px;
  position: absolute;
  bottom: -6px;
  right: 0;
  transform: translate(-966%, 0); /* Зміщення для кращого вирівнювання */
  z-index: 1; /* Забезпечує правильний порядок накладання */
}

/*families*/
.location {
}
.container {
}
.div-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
  background: #f5f5f2;
}
.div-location-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 28px 0px 27px;
  justify-content: flex-end;
  gap: 25px;
  margin-bottom: 80px;
}
.location-h2 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.location-p {
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.div-location-ul {
  margin-bottom: 80px;
}
.location-ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
}
.location-li {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: 416px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding-left: 33px;
  width: calc((100% - 32px) / 3);
}
.location-h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}
.location-li-a {
  display: flex;
  align-items: center;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.location-li-p-span {
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.div-location-btn {
  display: flex;
  gap: 24px;
}
.location-btn {
  width: 192px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.location-a {
  display: flex;
  width: 130px;
  height: 40px;
  padding: 8.141px 0px 7.859px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.location-a-span {
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/*location*/

.container {
}
.div-families-cont {
  background: linear-gradient(to bottom, #f5f5f2 50%, #ffffff 50%);
}
.div-families {
  display: flex;
  padding: 96px 257px;
  align-items: center;
  flex-direction: column;
  height: 465px;
  border-radius: 24px;
  background: #65665c;
}
.families-p-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #fff;
  color: #65665c;
  text-align: center;
  font-family: "Material Icons";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
  margin-bottom: 13px;
}
.families-h2 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  margin-bottom: 29px;
}
.families-p {
  width: 765px;
  color: #e7e8e3;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 21px;
}
.families-btn {
  width: 137px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/*reviews*/
.reviews {
}
.div-reviews {
  padding-top: 160px;
  padding-bottom: 160px;
}
.container {
}
.div-reviews-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.reviews-h2 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.reviews-p {
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.div-reviews-ul {
}
.reviews-ul {
  display: flex;
  gap: 32px;
}
.reviews-li {
  text-decoration: none;
  width: calc((100% - 64px) / 3);
  height: 325px;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 33px;
}
.div-li-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 56px;
}
.reviews-li-h2 {
}
.reviews-li-svg {
  width: 20px;
  height: 20px;
  fill: #cf6f49;
}
.reviews-li-icon {
  width: 20px;
  height: 20px;
}
.reviews-li-p {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.div-reviews-img {
  display: flex;
}
.reviews-li-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}
.reviews-img-text {
  display: flex;
  flex-direction: column;
}
.reviews-li-h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.reviews-img-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/*blog*/
.blog {
}
.container {
}
.div-blog {
  padding-top: 128px;
  padding-bottom: 129px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background: #f5f5f2;
}
.div-blog-text-btn {
  display: flex;
  gap: 404px;
}
.div-blog-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.blog-p-first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 29px;
  border-radius: 32px;
  background: #e7e8e3;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin-bottom: 25px;
}
.blog-h2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  margin-bottom: 29px;
}
.blog-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.div-blog-btn {
  display: flex;
  flex-direction: column-reverse;
}

.blog-btn {
  width: 108px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.blog-ul {
  display: flex;
  gap: 32px;
}
.blog-li {
  box-sizing: border-box;
  width: calc((100% - 64px) / 3);
}
.blog-img {
  display: block;
  width: 100%;
}
.div-blog-li-text {
  display: flex;
  width: 100%;
  height: 263px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  border-top: none;
}
.blog-li-p-first {
  display: flex;
  justify-content: center;
  padding: 0px 205.984px 0px 0.344px;
  align-items: center;
  gap: 16px;
  color: #65665c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin-bottom: 16px;
}
.blog-li-p-span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #fae8e1;
  padding: 4px 8px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.blog-li-h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
  margin-bottom: 7px;
}
.blog-li-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 24px;
}
.blog-li-a {
  display: flex;
  align-items: center;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.blog-li-a-span {
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-left: 4px;
}

/*subscribe*/
.subscribe {
}
.container {
}
.div-subscribe {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
}
.div-sub-logo {
  margin-right: 95px;
}
.sub-logo {
  display: flex;
  justify-content: flex-start;
}
.div-sub-pages {
  display: inline-flex;
  padding: 0.125px 101px 7.875px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.sub-p-pages {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sub-a {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.div-sub-cms {
  display: inline-flex;
  padding: 0.125px 64px 7.875px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.div-sub-utility {
  display: inline-flex;
  padding: 0.125px 72px 7.875px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.div-sub-text {
  margin-left: 128px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.sub-h2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 10px;
}
.sub-p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 15px;
}
.div-sub-input-btn {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.sub-input {
  width: 241px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.sub-btn {
  width: 127px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sub-p-botom {
  color: #65665c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.sub-p-botom-span {
  color: #65665c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

/*footer*/
.foofter {
}
.div-footer {
  display: flex;
  background: #f5f5f2;
  padding: 26px 144px;
}
.copirite-footer {
}
.div-footer-social {
  margin-left: 664px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.footer-a {
}
.footer-svg {
  width: 24px;
  height: 24px;
  fill: #2a2c1f;
}
.footer-svg-x {
  width: 24px;
  height: 24px;
  stroke: #2a2c1f;
}
.footer-icon {
}
