h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h2 {
}
h3 {
}
p {
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.div-header {
  width: 1440px;
  margin: 0 auto;
}
.div-first {
  display: flex;
  justify-content: end;
  height: 40px;
  background: #939878;
  padding-right: 40px;
}
.p-div-first {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  margin-right: 563px;
}

.btn-close {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon-close-header {
  fill: #ffffff;
  stroke: #fff;
}

.div-nav {
  display: flex;
  height: 74px;
  padding-left: 80px;
  padding-right: 80px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 401px;
}

.nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ul-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-nav {
  display: flex;
  align-items: center;
}

.a-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.span-down {
  color: #222;
  font-family: "Material Icons";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  vertical-align: middle;
}
.span-search {
  color: #2a2c1f;
  font-family: "Material Icons";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  vertical-align: middle;
}

.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 42px;
  padding: 9px 21px 9px 21px;
  margin-right: 16px;
  margin-left: 24px;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #2a2c1f;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
}

.span-bag {
  color: #2a2c1f;
  text-align: center;
  font-family: "Material Icons";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-right: 4px;
  vertical-align: middle;
}
.btn-find {
  width: 159px;
  height: 42px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  cursor: pointer;
}

/* hero */
.hero-sec {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.hero {
  display: inline-flex;
}
.div-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 720px;
  height: 686px;
  padding: 160px 80px;
  background-color: #f3f3f2;
  position: relative;
  overflow: hidden;
}
.hero-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 29px;
  border-radius: 32px;
  background-color: #e7e8e3;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.hero-h2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px; /* 120% */
}
.hero-p1 {
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.icon-hero-up {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-27%, 0); /* Для вирівнювання по центру */
  z-index: 1; /* Забезпечує накладання над іншими елементами */
}

.icon-hero-down {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 0); /* Зміщення для кращого вирівнювання */
  z-index: 1; /* Забезпечує правильний порядок накладання */
}

.div-hero-search {
  display: inline-flex;
  gap: 16px;
}
.form-search {
}
.label-search {
  display: flex;
  align-items: center;
  position: relative;
}
.icon-search {
  position: absolute;
  left: 16px;
  margin-right: 16px;
}
.input-search {
  padding-left: 56px;
  width: 310px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.hero-btn-search {
  width: 154px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.div-hero-img {
  width: 720px;
  height: 686px;
  background: url(../images/hero.jpg) lightgrey center / cover no-repeat;
}
@media only screen and (min-resolution: 192dpi),
  only screen and (min-device-pixel-ratio: 2) {
  .div-hero-img {
    background: url(../images/hero@2x.jpg) lightgrey center / cover no-repeat;
  }
}

/* logoipson */
.logoipson-sec {
  padding-top: 67px;
}

.div-logoipson {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.div-icon {
  display: inline-flex;
  gap: 32px;
}
.h2-logoipson {
  width: 243px;
  height: 44px;
  margin-right: 309px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.icon-logoipson {
  .icon-logoipson {
    display: inline-block; /* Переконайтеся, що іконки відображаються */
    width: 120px;
    height: 28px;
    fill: currentColor; /* Забезпечує використання кольору шрифту або визначеного кольору */
  }
}
.icon-1 {
}
.icon-2 {
}
.icon-3 {
}
.icon-4 {
}
.icon-5 {
}
